@media (max-width: 1024px) {
  .nav-theme {
    display: none;
  }
}

@media (max-width: 768px) {
  .nav-buttons {
    display: none;
  }
}

@media (max-width: 540px) {
  .theme-icon {
    margin-left: 10rem;
  }
}

@media (max-width: 320px) {
  .theme-icon {
    margin-left: 0.25rem;
  }
}

@media (max-width: 407px) {
  .theme-icon {
    margin-left: 9rem;
  }
}
